
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    max-width: 1728px;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
header{
    display: flex;
    padding-top: 42px;
    margin-bottom: 90px;
}
.top-left{
    width: 50%;
    display: flex;
   justify-content: flex-start;
   padding-left: 40px;
align-items: center;
padding-top: 28px;
padding-bottom: 30px;
}
.top-left img{
width: 156px;
height: 48.33px;
padding-right: 56px;

}
.top-left h3{
    color: rgb(200, 200, 200);
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
padding-left: 26px;
}
.border{
height: 28px;
border: 2px solid white;
}
.top-right{
width: 50%;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 33px;
}
.top-right i{
    color: white;
    padding-right: 48.58px;
}
.top-right img{
    width: 74px;
    width: 74px;
}
.stk{
    display: flex;
position: fixed;
width: 174px;
height: 66px;
right: 0px;
top: 750px;
}
.stk-left{
width: 19%;
height: 100%;
background: rgb(213, 13, 31);
}
.stk-right{
    width: 81%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.stk-right div{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 141.52%;
position: relative;
top: 15px;
left: 43px;
text-decoration: none;
}
.content{
    width: 54.92%;
    background-color: none;
    margin-left: 40px;
}
.genres h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: -25px;
    margin-right: 20px
}
.content h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 64px;
font-weight: 800;
text-align: left;
letter-spacing: 5px;
}
.text1{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    margin-bottom: -35px;
}
.text-left h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 29px;
font-weight: 500;

}
.text-center{
    display: flex;
   align-items: center;
}
.text-center1 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 29px;
font-weight: 500;
padding-right: 10px;
}
.text-center2 h3{
    color: rgb(167, 166, 166);
font-family: Inter;
font-size: 29px;
font-weight: 400;
line-height: 29px;
padding-top: 2px;
}
.text-right{
    display: flex;
    align-items: center;
}
.text-right1 h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 29px;
    font-weight: 400;
  padding-right: 10px;
}
.text-right2 h3{
    color: rgb(167, 166, 166);
    font-family: Inter;
    font-size: 29px;
    font-weight: 400;
    line-height: 29px;
    padding-top: 5px;
}
.text2{
    width: 864px;
}
.text2 p{
    color: rgb(167, 166, 166);
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
text-align: left;
}
.rating{
    color: white;
    width: 30%;
    height: 34px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.button{
    display: flex;
    padding-top: 45px;
}
.button1{
width: 272px;
height: 64px;
border-radius: 10px;
background: rgb(213, 13, 31);
text-align: center;
margin-right: 90px
}
.button1 button{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 141.52%;
background: none;
border: none;
position: relative;
top: 16px;
}
.button2{
width: 271px;
height: 64px;
box-sizing: border-box;
border: 3px solid rgb(255, 255, 255);
border-radius: 10px;
text-align: center;
}
.button2 button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 141.52%;
background: none;
border: none;
position: relative;
top: 14px;
}
.week{
    display: flex;
    align-items: center;
   padding-top: 30px;
}
.title{
    width: 50%;
}
.title h3{
width: 342px;
height: 26px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 22px;
font-weight: 800;
line-height: 144.52%;
}
.icon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.icon1{
    width: 32px;
    height: 32px;
    border: 2px solid #9f9a9a;
    border-radius: 50%;
    margin-top: 2px;
}
.icon1 i{
    color: #9f9a9a;
    position: relative;
    top: 8px;
    left: 11px;
}
.icon2{
    width: 35px;
    height: 35px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 15px;
}
.icon2 i{
    color: white;
    position: relative;
    top: 10px;
    left: 13px;
}
.images{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 49px;
}
.images img{
    width: 15%;
}
.images img:hover{
    color: gray;
    opacity: 0.5;
}